{% load currency_filters %}
{% load i18n %}

<div class="cart-box mt-all-30">
    <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
        <li>
            <a href="#"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro">
                {% if request.basket.is_tax_known %}
                    {{ request.basket.total_incl_tax }}
                {% else %}
                    {{ request.basket.total_excl_tax }}
                {% endif %}</span><span>{% trans "cart" %}</span></span></a>
                {% include "basket/partials/basket_quick.html" %}
        </li>
        <li><a href="#"><i class="lnr lnr-heart"></i><span class="my-cart"><span>Wish</span><span>list (0)</span></span></a>
        </li>
        <li><a href="#"><i class="lnr lnr-user"></i><span class="my-cart"><span> <strong>Sign in</strong> Or</span><span> Join My Site</span></span></a>
        </li>
    </ul>
</div>


