{% load currency_filters %}
{% load category_tags %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% category_tree depth=2 as tree_categories %}
<li><a href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li>
{% if tree_categories %}
    <li class="divider"></li>
    {% for tree_category, info in tree_categories %}
        {% if tree_category.has_children %}
            
            <li class="">
                <a tabindex="-1" href="{{ tree_category.get_absolute_url }}"><span>
                        <img class="thumbnail" src="{{ tree_category.image.url }}" alt="{{ thumb.url }}"/>
                    </span>{{ tree_category.image.url }}<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <ul class="ht-dropdown mega-child">
                {% else %}
                    <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>
                {% endif %}

                {% for close in tree_category.num_to_close %}
                    </ul></li>
                {% endfor %}
    {% endfor %}
{% endif %}
<li class="divider"></li>
{% block nav_dropdown_extra_items %}
    <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
{% endblock %}
