{% load history_tags %}
{% load basket_tags %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

<ul class="ht-dropdown cart-box-width">
    {% if request.basket.num_lines %}
        {% for line in request.basket.all_lines %}
            <li>
                <div class="single-cart-box">
                    <div class="cart-img">
                        {% with image=line.product.primary_image %}
                            {% thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"></a>
                            {% endthumbnail %}
                        {% endwith %}
                        <a href="#"><img src="img/products/2.jpg" alt="cart-image"></a>
                        <span class="pro-quantity">{{ line.quantity }}</span>
                    </div>
                    <div class="cart-content">
                        <h6><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h6>
                        <span class="cart-price">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</span>
                        <span>{% trans "Size:" %}</span>
                        <span>{% trans "Color:" %}</span>
                    </div>
                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                </div>

            </li>
        {% endfor %}
        
        <li class="form-group form-actions">
            <p class="align-right">
                {% if request.basket.is_tax_known %}
                    <small>{% trans "Total:" %} {{ request.basket.total_incl_tax|currency:request.basket.currency }}</small> 
                {% else %}
                    <small>{% trans "Total:" %} {{ request.basket.total_excl_tax|currency:request.basket.currency }}</small> 
                {% endif %}
            </p>
            <a href="{% url 'basket:summary' %}" class="btn btn-info btn-sm">{% trans "View basket" %}</a>
            <a href="{% url 'checkout:index' %}" class="btn btn-primary btn-sm pull-right"><i class="icon-shopping-cart"></i> {% trans "Checkout" %}</a>
        </li>
    {% else %}
        <li><p>{% trans "Your basket is empty." %}</p></li>
    {% endif %}
</ul>
